html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #FFFCF8;
  margin: 0;
  padding: 0;
  font-size: $font-med;
  line-height: 1.15;
  // font-family: 'Barlow', sans-serif;
  // font-family: 'Fraunces', serif;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  user-select: none;
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none !important;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}

// flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-fd-col {
    flex-direction: column;
  }
}