html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: $font-med;
  line-height: 1.15;

  /*
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
  */
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

// flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-fd-col {
    flex-direction: column;
  }
}