.hero {
  position: relative;

  @include breakpoint-down(small) {
    background: url('/app/images/mobile/image-header.jpg');
    height: 518px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include breakpoint-up(medium) {
    background: url('/app/images/desktop/image-header.jpg');
    height: 100vh;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__heading {
    color: $white;
    font-family: 'Fraunces', serif;
    font-size: 2.125rem;
    font-weight: 900;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint-down(medium) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include breakpoint-up(large) {
      font-size: 4.625rem;
    }
  }
}