@use 'variables'as *;
@use 'mixins'as *;

.hero {
  position: relative;
  display: grid;
  z-index: -1;

  &__img-container {
    position: relative;

    >img {
      display: block;
      height: auto;
      max-height: 100%;
      width: 100%;
    }
  }

  &__heading {
    color: $white;
    display: flex;
    flex-direction: column;
    font-family: 'Fraunces', serif;
    font-size: 2.125rem;
    font-weight: 900;
    gap: 1.2rem;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint-down(medium) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include breakpoint-up(large) {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: center;
      flex-direction: column;
      flex-flow: column nowrap;
      align-self: center;
      font-size: 4.625rem;
      gap: 5rem;
      transform: translateY(-15%);

      >p {
        margin: 0;
      }
    }
  }

  >* {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}