@use 'variables'as *;
@use 'mixins'as *;

.main {
  display: grid;

  @include breakpoint-down(small) {
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  }
}

.wrapper {
  display: grid;

  @include breakpoint-down(small) {
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  }

  @include breakpoint-up(medium) {
    grid-template-columns: 1fr 1fr;
  }
}