@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.footer {
  background: rgba(144, 212, 197);
  display: grid;
  text-align: center;
  padding: 70px 0;
  position: relative;

  @include breakpoint-down(small) {
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  }

  &__img {
    padding: 0 0 30px;

    @include breakpoint-up(xlarge) {
      padding: 40px 0;
    }

    svg {
      scale: 1.4;

      @include breakpoint-up(xlarge) {
        scale: 1.8;
      }
    }

    path {
      fill: #2C7566;
      transition: all 200ms ease-in-out;
    }
  }

  &__links {
    gap: 3.75rem;
    padding: 0.875rem 0;
    transition: all 200ms ease-in-out;

    @include breakpoint-up(xlarge) {
      padding: 1.5rem 0;
      gap: 5rem;
    }

    >a {
      color: $dark-moderate-cyan;
      font-family: 'Barlow', sans-serif;
      font-size: 1.125rem;
      font-weight: 600;
      transition: color 200ms ease-in-out;

      &:hover {
        color: $white;
      }

      @include breakpoint-up(xlarge) {
        font-size: 1.5rem;
      }
    }
  }

  &__socials {
    gap: 1.75rem;
    padding: 4.5rem 0 1.25rem;

    @include breakpoint-up(xlarge) {
      gap: 3rem;
      padding: 5rem 0 1.25rem;
    }

    svg {
      scale: 1.15;

      @include breakpoint-up(xlarge) {
        scale: 1.4;
      }
    }

    path {
      transition: all 200ms ease-in-out;
    }

    >a:hover {
      path {
        fill: #fff;
      }
    }
  }
}

.attribution {
  color: $dark-moderate-cyan;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Barlow', sans-serif;
  font-size: $font-sm;
  font-weight: 500;
  padding: 1rem;

  >a {
    color: #2C7566;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: $font-sm;
    transition: color 200ms ease-in-out;

    &:hover {
      color: $white;
    }
  }
}