@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.hero {
  // display: grid;
  position: relative;

  &__img-container {
    position: relative;
    z-index: -1;

    >img {
      display: block;
      height: auto;
      max-height: 100vh;
      width: 100%;
      object-fit: cover;
      object-position: center 75%;
    }
  }

  &__heading {
    color: $white;
    display: flex;
    flex-direction: column;
    font-family: 'Fraunces', serif;
    font-size: 2.125rem;
    font-weight: 900;
    gap: 1.2rem;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint-down(large) {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @include breakpoint-up(xlarge) {
      align-self: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-flow: column nowrap;
      font-size: 4.625rem;
      gap: 6rem;
      justify-content: center;
      justify-self: center;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(75%);

      >p {
        margin: 0;
      }

      &-img {
        scale: 1.1;
      }
    }
  }
}