@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.main {
  display: grid;

  @include breakpoint-down(small) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.wrapper {
  display: grid;

  @include breakpoint-up(medium) {
    grid-template-columns: 1fr 1fr;
  }
}