@use '../abstracts/mixins'as *;
@use '../abstracts/variables'as *;

.testimonials {
  &__wrapper {
    display: grid;
    margin: 0 0 64px;

    @include breakpoint-up(medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include breakpoint-up(xlarge) {
      margin: 0 0 190px;
      padding: 0 140px;
    }
  }

  &__heading {
    >h1 {
      color: $grayish-blue;
      font-family: 'Fraunces', serif;
      font-size: 1rem;
      font-weight: 900;
      letter-spacing: 4px;
      text-transform: uppercase;
      text-align: center;
      margin: 60px 0 30px;

      @include breakpoint-up(xlarge) {
        margin: 220px 0 80px;
        font-size: 1.75rem;
        letter-spacing: 6px;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 22px;

    @include breakpoint-up(xlarge) {
      margin: 30px 1rem;
    }
  }

  &__client {
    &-img {
      margin: 10px;

      >img {
        border-radius: 50%;

        @include breakpoint-down(medium) {
          width: 3.875em;
        }

        @include breakpoint-up(large) {
          width: 4.875em;
        }
      }
    }

    &-description {
      >p {
        color: $very-dark-grayish-blue;
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.7;

        @include breakpoint-up(xlarge) {
          font-size: 1.625rem;
          margin: 64px 0;
        }
      }
    }

    &-info {
      text-align: center;

      >h1 {
        color: $very-dark-desaturated-blue;
        font-family: 'Fraunces', serif;
        font-size: 1.125rem;
        font-weight: 900;
        margin: 20px 0 0;

        @include breakpoint-up(xlarge) {
          font-size: 1.625rem;
          margin: 20px 0 16px;
        }
      }

      >p {
        color: $grayish-blue;
        font-family: 'Barlow', sans-serif;
        font-size: .875rem;
        font-weight: 600;
        margin: 12px 0 0;

        @include breakpoint-up(xlarge) {
          font-size: 1.25rem;
        }
      }
    }
  }
}